# Dependencies
/node_modules
/.pnp
.pnp.js

# Build files
/build
/dist

# Environment files (IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Coverage
/coverage

# Misc
*.zip
*.mp4
!src/assets/*.mp4
build.zip

# Optional (IDE files)
.vscode/
.idea/
